.bodyframe {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  height: 100%;
  margin: 0 auto;
  background-color: #fbf6f0;
}

.mainframe {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  height: 100vh;
  background-color: #fdfdfd;
}